@page

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-controller="appCtrl" ng-app="appname">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Get Data" />
            </div>
        </div>
    </div>
    <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Current Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in coins">
                    <th scope="row">{{a.market_cap_rank}}</th>
                    <td><img src="{{a.image}} || null" style="height: 20px; margin-right: 10px;"/>{{a.name}}</td>
                    <td>{{a.current_price.toLocaleString('en-us',{style: 'currency', currency: 'USD', minimumFractionDigits: 5})}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>